
    <!-- Default panel contents -->
    <div class="panel-heading"><b>{{uploadType}} Data Files</b></div>
    <div class="panel-body">
      <em>Found {{listGroup.length}} files</em>
    </div>

      <ul class="list-group">


          {{#each visibleList as |dataSource|}}
            {{ember-cli-rust-uploader-list-group-item dataSource=dataSource}}
          {{/each}}

      </ul>
      {{#if visibleList.length}}
        <div class="text-center"><ul class='pagination'>
            {{#if paginationHash.leftArrow}}
            <li {{action "decrementPage" currentPage}}><a href="#">&laquo;</a></li>
            {{/if}}
            {{#each paginationHash.pages as |page|}}
              {{#if page.[1]}}
              <li class="active" {{action "changePage" page.[0]}}><a href="#">{{page.[0]}}</a></li>
              {{else}}
              <li  {{action "changePage" page.[0]}}><a href="#">{{page.[0]}}</a></li>
              {{/if}}
            {{/each}}
            {{#if paginationHash.rightArrow}}
            <li {{action "incrementPage" currentPage}}><a href="#">&raquo;</a></li>
            {{/if}}

          </ul>
        </div>
        {{/if}}
